[submodule "third_party/tree-sitter"]
	path = third_party/tree-sitter
	url = https://github.com/Aerijo/tree-sitter.git
[submodule "third_party/tree-sitter-biber"]
	path = third_party/tree-sitter-biber
	url = https://github.com/Aerijo/tree-sitter-biber.git
[submodule "third_party/LaTeX-cwl"]
	path = third_party/LaTeX-cwl
	url = https://github.com/LaTeXing/LaTeX-cwl
