[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "third_party/tree-sitter-latex"]
	path = third_party/tree-sitter-latex
	url = https://github.com/yitzchak/tree-sitter-latex
[submodule "third_party/tree-sitter"]
	path = third_party/tree-sitter
	url = git@github.com:Aerijo/tree-sitter.git
