language: cpp

dist: xenial

compiler:
#  - clang # TODO
  - gcc

git:
  depth: false
  submodules: false

# from https://github.com/richelbilderbeek/travis_gcc_cpp17/blob/master/.travis.yml
before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq g++-8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90

script:
  - mkdir cmake-build-debug
  - cd cmake-build-debug
  - cmake ..
  - cmake --build . --target latex_language_server
